body {
    font-family: Ariel, sens-serif;
    margin: 30px;
}

h1{
    text-align:center;
}

#add-expenses {
    background-color: lightblue;
    padding: 20px;
    margin-top: 20px;
}

.expenses {
    background-color:lightgray;
    padding: 20px;

}

input{
    display: block;
    margin-bottom: 15px;
    padding: 8px
}